# Node.js
node_modules/
npm-debug.log*

# Hardhat
artifacts/
cache/
typechain-types/

# Компилятор Solidity (локальный)
compilers/

# Vite / React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IPFS
.ipfs/

# Окружение
.env
.env.local

# Операционная система
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Батники и временные файлы
*.bat